<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="title(subject, styles)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${subject}">Email layout</title>

    <th:block th:replace="${styles}"/>
</head>

<body>
<table>
    <tr>
        <td class="header-data" th:fragment="email-header">
            <table class="header-table" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="header-logo-data">
                        <img th:src="|cid:${headerLogo}|" src="../../../static/images/header/logo.png"
                             alt="HomeUtilities Logo">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td class="data-footer" th:fragment="email-footer">
            <table class="table-footer" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="footer-logo-data">
                        <img th:src="|cid:${footerLogo}|" src="../../../static/images/header/logo2.png"
                             alt="HomeUtilities Logo">
                    </td>
                    <td class="footer-info">
                        <p></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>
