#index-section {
  width: 100%;
  padding: 20px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#index-section .modal-header {
  display: block;
  text-align: center;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

#index-section .modalPopUp .modal-dialog {
  padding-left: 10px;
  padding-right: 10px;
}

#index-section .modalPopUp .modal-content {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#index-section .modalPopUp form {
  text-align: center;
  padding: 10px;
  margin: 10px;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#index-section .modalPopUp form input[type="text"] {
  font-weight: bold;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
}

#index-section .modalPopUp form #oldIndex {
  border: none;
  box-shadow: none;
  cursor: default;
}

#index-section .modalPopUp form #newIndex:focus {
  box-shadow: 0 3px 0 -2px blue;
}

#index-section .modalPopUp form .modal-footer #saveButton {
  background: linear-gradient(#141e30, #243b55);
  color: white;
}

#index-section .modalPopUp .form-control {
  margin-bottom: 3px;
}

#index-section .modalPopUp label {
  font-weight: bold;
}

#index-section .modalPopUp #oldIndex.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#index-section .scaleHover:hover {
  transform: scale(1.05);
}

#index-section .modalPopUp .alert {
  color: red;
  font-size: 15px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 10px;
}

#index-section .modalPopUp .errors {
  margin-top: 5px;
  width: auto;
}
