<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<section th:fragment="toggle-sidebar" id="toggle-sidebar">
    <div class="d-flex flex-sm-column m-0 p-0 justify-content-sm-center">
        <button type="button" id="sidebarCollapse" class="btn text-decoration-none bi bi-arrow-left-square" data-bs-toggle="tooltip" th:title="#{toggle.layout.tooltip.hide}" data-bs-placement="right"></button>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            var toggleMode = null;
            $('#sidebarCollapse').click(function (e) {
                $('#sidebar').toggle();
                $(this).tooltip('dispose').tooltip();
                if ($(this).hasClass('bi-arrow-left-square')) {
                    toggleMode = 'Off';
                    sessionStorage.setItem("toggleMenuMode", toggleMode);
                    $(this).removeClass('bi-arrow-left-square');
                    $(this).addClass('bi-arrow-right-square');
                    $(this).attr('data-bs-original-title', '[(#{toggle.layout.tooltip.show})]');
                } else {
                    toggleMode = 'On';
                    sessionStorage.setItem("toggleMenuMode", toggleMode);
                    $(this).removeClass('bi-arrow-right-square');
                    $(this).addClass('bi-arrow-left-square');
                    $(this).attr('data-bs-original-title', '[(#{toggle.layout.tooltip.hide})]');
                }
            });
        })
    </script>
</section>

</body>
</html>
