<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: title(#{utility.page.title}, ~{})}"></head>

<body th:fragment="utility">
<header th:replace="~{fragments/layout :: sidebar}"></header>
<section th:replace="~{fragments/toggle-layout :: toggle-sidebar}"></section>
<section th:id="utility-section" id="utility-section">
    <div class="noClient" th:if="${clientCodeList.size == 0}">
        <a href="#" th:href="@{/user/dashboard}" class="m-0 p-0 goBack text-decoration-none scaleHover bi bi-arrow-left-circle" th:title="#{utility.button.back.tooltip}" data-bs-placement="right"></a>
        <div class="d-flex-inline" th:title="#{utility.addFirstClientCode.label}" data-bs-placement="bottom">
            <p th:text="#{utility.addFirstClientCode.label}">Add first client code</p>
            <a href="#" th:href="@{/user/dashboard/__${branch}__/client-code}" class="noClientData text-decoration-none bi bi-person-plus"></a>
        </div>
    </div>
    <div class="card-group" th:unless="${clientCodeList.size == 0}">
        <div class="d-flex top-buttons">
            <div class="d-block">
                <a href="#" th:href="@{/user/dashboard}" class="m-0 p-0 goDashboard text-decoration-none scaleHover bi bi-arrow-left-circle" th:title="#{utility.button.back.tooltip}" data-bs-placement="left"></a>
            </div>

            <p class="utilityTitleText" th:text="#{utility.title(${branchOrdinal})}"></p>

            <div class="img-utility">
                <a href="#" th:href="@{/user/dashboard/__${branch}__/client-code}" class="text-decoration-none">
                    <img th:src="@{/images/user-dashboard/__${branch}__.png}" src="../../static/images/user-dashboard/__${branch}__.png" class="scaleHover" alt="" width="75" height="75" th:title="#{utility.addClientCode.label}" data-bs-placement="bottom">
                </a>
            </div>
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="d-grid nav-link" id="nav-1-tab" th:each="client : ${clientCodeList}" th:classappend="${firstClient.getId()} == ${client.getId()} ? 'active':''" th:id="'nav' + ${client.getId()} + 'tab'" data-bs-toggle="tab" data-bs-target="#nav-1" th:data-bs-target="'#nav' + ${client.getId()}" type="button" role="tab" aria-controls="nav-1" th:aria-controls="'nav' + ${client.getId()}" aria-selected="true">
                    <div class="d-flex">
                        <a id="put1" th:id="'put' + ${client.getId()}" th:title="#{utility.button.edit.tooltip}" class="btn-primary text-primary text-decoration-none scaleHover bi bi-pencil-square"></a>
                        <a class="px-3"></a>
                        <a id="delete1" th:id="'delete' + ${client.getId()}" th:title="#{utility.button.delete.tooltip}" class="btn-primary text-decoration-none scaleHover bi bi-trash"></a>
                    </div>
                    <div th:title="#{utility.contractSince.title} + ': <br>' + ${#temporals.format(client.getContractDate(), 'dd-MM-yyyy')}">
                        <div>
                            <span th:text="${client.getClientNumber()}">client-code</span>
                        </div>
                        <div>
                            <span th:id="'clientStatName' + ${client.getId()}" th:text="${client.getClientName()}">client-name</span>
                        </div>
                    </div>
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-1" th:classappend="${firstClient.getId()} == ${client.getId()} ? 'show active':''" th:each="client : ${clientCodeList}" th:id="'nav' + ${client.getId()}" role="tabpanel" aria-labelledby="nav-1-tab" th:aria-labelledby="'nav' + ${client.getId()} + 'tab'">
                <div class="row">
                    <div class="col-md-5 pe-0 justify-content-md-center spaceBottom">
                        <div class="card col clientsInfo" id="clientInfo" th:id="'clientInfo' + ${client.getId()}">
                            <div class="col bottom-info">
                                <div class="addInfoClass">
                                    <button class="addNewIndexButton btn btn-primary scaleHover" id="addIndexId" th:id="'addIndexId' + ${client.getId()}" th:text="#{utility.addIndex.label}" th:disabled="${#temporals.format(client.lastIndexDate(indexList), 'dd-MM-yyyy')} == ${#temporals.format(today, 'dd-MM-yyyy')}">Add new index</button>
                                </div>
                                <div class="cln container-fluid">
                                    <table class="table table-sm table-hover table-bordered text-center align-middle">
                                        <tbody>
                                            <tr class="table-no-bottom-border">
                                                <th th:text="#{utility.consumptionNumber.title}">Number</th>
                                            </tr>
                                            <tr class="table-no-top-border">
                                                <td th:text="${client.getConsumptionLocationNumber()}">Number</td>
                                            </tr>
                                            <tr class="table-no-bottom-border">
                                                <th th:text="#{utility.consumptionAddress.title}">Address</th>
                                            </tr>
                                            <tr class="table-no-top-border">
                                                <td th:text="${client.getConsumptionAddress()}">Address</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card col clientsIndex" id="clientIndex" th:id="'clientIndex' + ${client.getId()}">
                            <div class="table-responsive">
                                <table th:id="'indexTableData' + ${client.getId()}" class="indexTableData table table-sm table-hover table-bordered text-center align-middle">
                                    <thead class="position-sticky bg-white" style="top:0;">
                                        <tr>
                                            <th th:text="#{utility.index.createdDate.title}">Created on</th>
                                            <th th:text="#{utility.index.modifiedDate.title}">Modified on</th>
                                            <th class="optimizeWidth" th:text="#{utility.index.title} + ' (' + ${client.count(indexList)} + ')'" th:colspan="${#temporals.format(lastCreatedIndexDate, 'dd-MM-yyyy')} == ${#temporals.format(today, 'dd-MM-yyyy')} ? 2 : 1">Index</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="index : ${indexList}" th:if="${client.getId() == index.getClientId()}">
                                            <td class="noWrap" th:utext="${#temporals.format(index.getCreatedAt(), 'dd-MM-yyyy')} + '<br>' + ${#temporals.format(index.getCreatedAt(), 'HH:mm:ss')}">Index created date</td>
                                            <td class="noWrap" th:utext="${#temporals.format(index.getModifiedAt(), 'dd-MM-yyyy')} + '<br>' + ${#temporals.format(index.getModifiedAt(), 'HH:mm:ss')}">Index modified date</td>
                                            <td class="cancelMode scaleHover border-0" th:if="${#temporals.format(index.getCreatedAt(), 'dd-MM-yyyy')} == ${#temporals.format(today, 'dd-MM-yyyy')}" th:title="#{utility.index.button.edit.cancel.tooltip}">
                                                <a id="cancelEditingIndexButton" th:id="'cancelEditingIndexButton' + ${index.getId()}" class="buttonCancelEdit text-decoration-none bi bi-x-lg"></a>
                                            </td>
                                            <td class="editableValue noWrap border-start-0" th:classappend="${#temporals.format(index.getCreatedAt(), 'dd-MM-yyyy')} == ${#temporals.format(today, 'dd-MM-yyyy')} ? 'border-end-0':''" th:id="${index.getId()}" th:text="${index.getValue()}" th:colspan="${#temporals.format(index.getCreatedAt(), 'dd-MM-yyyy')} == ${#temporals.format(today, 'dd-MM-yyyy')} ? 1 : 2" th:style="${index.getCreatedAt() != index.getModifiedAt()} ? 'color: #FF0000' : 'color: #000000'" data-bs-toggle="tooltip" data-bs-placement="right" th:title="${index.getCreatedAt() != index.getModifiedAt()} ? #{utility.oldIndex.title.tooltip} + '<br>' + '<div class=' + 'text-start' + '>' + ${index.insertTooltipTitle('__#{utility.oldIndex.hour.tooltip}__', '__#{utility.oldIndex.value.tooltip}__', oldIndexes)} + '<br>' + ${index.getOldIndex(oldIndexes)} + '</div>'"></td>
                                            <td class="editMode scaleHover border-start-0" th:if="${#temporals.format(index.getCreatedAt(), 'dd-MM-yyyy')} == ${#temporals.format(today, 'dd-MM-yyyy')}" th:title="#{utility.index.button.edit.tooltip}">
                                                <a id="editIndexButton" th:id="'editIndexButton' + ${index.getId()}" class="buttonEdit text-decoration-none bi bi-pen"></a>
                                            </td>
                                            <td class="saveMode scaleHover border-start-0" th:if="${#temporals.format(index.getCreatedAt(), 'dd-MM-yyyy')} == ${#temporals.format(today, 'dd-MM-yyyy')}" th:title="#{utility.index.button.save.tooltip}">
                                                <a id="saveIndexButton" th:id="'saveIndexButton' + ${index.getId()}" class="buttonSave text-decoration-none bi bi-check-lg"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7 justify-content-md-center charts">
                        <div class="card col-md-auto graphInfo" id="clientGraph" th:id="'clientGraph' + ${client.getId()}">
                            <div class="d-flex">
                                <a id="switchChart" th:id="'switchChart' + ${client.getId()}" th:title="#{chart.button.switch.tooltip.line}" class="switch btn btn-primary text-decoration-none text-center scaleHover bi bi-graph-up"></a>
                                <table class="ms-3 p-0 d-flex table table-sm text-center align-middle justify-content-md-evenly">
                                    <tbody class="box-shadow">
                                        <tr>
                                            <td class="table-no-border" th:text="#{utility.week.consumption.total}">Total Week</td>
                                            <th class="weekConsumptionTotal table-no-border colored" th:text="'0 Kwh'">Total</th>
                                        </tr>
                                    </tbody>
                                    <tbody class="box-shadow">
                                        <tr>
                                            <td class="table-no-border" th:text="#{utility.month.consumption.total}">Total Month</td>
                                            <th class="monthConsumptionTotal table-no-border colored" th:text="'0 Kwh'">Total</th>
                                        </tr>
                                    </tbody>
                                    <tbody class="box-shadow">
                                        <tr>
                                            <td class="table-no-border" th:text="#{utility.year.consumption.total}">Total Year</td>
                                            <th class="yearConsumptionTotal table-no-border colored" th:text="'0 Kwh'">Total</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <canvas id="indexChart" th:id="'indexChart' + ${client.getId()}"></canvas>
                            <div class="row p-0 justify-content-md-evenly">
                                <div class="col-auto justify-content-md-evenly text-center spaceBottom spaceTop">
                                    <div class="consumption-label">
                                        <small th:text="#{chart.consumption.label}">Consumption</small>
                                    </div>
                                    <div class="btn-group m-0" role="group" aria-label="Basic radio toggle button group">
                                        <input type="radio" class="btn-check consumptionWeekType" name="btnRadio" th:id="'consumptionTypeWeek' + ${client.getId()}" autocomplete="off" checked>
                                        <label class="btn btn-outline-primary scaleHover bi bi-calendar-week minWidth" th:for="'consumptionTypeWeek' + ${client.getId()}" th:text="'  ' + #{chart.week.button.label}">Week</label>

                                        <input type="radio" class="btn-check consumptionMonthType" name="btnRadio" th:id="'consumptionTypeMonth' + ${client.getId()}" autocomplete="off">
                                        <label class="btn btn-outline-primary scaleHover bi bi-calendar-month minWidth" th:for="'consumptionTypeMonth' + ${client.getId()}" th:text="'  ' + #{chart.month.button.label}">Month</label>

                                        <input type="radio" class="btn-check consumptionYearType" name="btnRadio" th:id="'consumptionTypeYear' + ${client.getId()}" autocomplete="off">
                                        <label class="btn btn-outline-primary scaleHover bi bi-calendar3 minWidth" th:for="'consumptionTypeYear' + ${client.getId()}" th:text="'  ' + #{chart.year.button.label}">Year</label>
                                    </div>
                                </div>

                                <div class="col-auto justify-content-md-evenly text-center spaceBottom spaceTop">
                                    <div class="index-label">
                                        <small th:text="#{chart.index.label}">Index</small>
                                    </div>
                                    <div class="btn-group m-0" role="group" aria-label="Basic radio toggle button group">
                                        <input type="radio" class="btn-check indexWeekType" name="btnRadio" th:id="'indexTypeWeek' + ${client.getId()}" autocomplete="off" checked>
                                        <label class="btn btn-outline-primary scaleHover bi bi-calendar-week minWidth" th:for="'indexTypeWeek' + ${client.getId()}" th:text="'  ' + #{chart.week.button.label}">Week</label>

                                        <input type="radio" class="btn-check indexMonthType" name="btnRadio" th:id="'indexTypeMonth' + ${client.getId()}" autocomplete="off">
                                        <label class="btn btn-outline-primary scaleHover bi bi-calendar-month minWidth" th:for="'indexTypeMonth' + ${client.getId()}" th:text="'  ' + #{chart.month.button.label}">Month</label>

                                        <input type="radio" class="btn-check indexYearType" name="btnRadio" th:id="'indexTypeYear' + ${client.getId()}" autocomplete="off">
                                        <label class="btn btn-outline-primary scaleHover bi bi-calendar3 minWidth" th:for="'indexTypeYear' + ${client.getId()}" th:text="'  ' + #{chart.year.button.label}">Year</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="deleteBackdrop" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteBackdropLabel" th:text="#{utility.deleteConfirmation.title}">Delete?</h5>
            </div>
            <div class="modal-body">
                <p class="modal-text" th:text="#{utility.deleteConfirmation.content}">Confirm delete</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <a class="btn btn-secondary scaleHover" href="#" th:href="@{/user/dashboard/__${branch}__}" th:text="#{utility.deleteConfirmation.cancel.label}">Cancel</a>
                <a href="#" id="setDelete" th:id="setDelete" class="btn btn-primary scaleHover" th:text="#{utility.deleteConfirmation.submit.label}">Delete</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

<script type="text/javascript" th:inline="javascript">
var hdr = null;
var tok = null;
var clientId = null;
var myChart = null;
var canvas = null;
var ctx = null;
var chartType = 'line';
var oldValueContent = null;

$(document).ready(function () {
    $(window).on("load", function() {
        windowPath = window.location.href;
        if (windowPath.indexOf("#") == -1) {
            activateTab();
        } else {
            var tabId = windowPath.substr(windowPath.indexOf("#") + 1, windowPath.length - windowPath.indexOf("#") + 1);
            sessionStorage.setItem("currentActiveTab", tabId);
            window.location.href = "/user/dashboard/" + '[(${branch})]';
            activateTab();
        }

        initChart();
        $('[data-bs-toggle=tooltip]').tooltip();
        $('.consumptionMonthType').each(function() {
            if ($(this).attr('id') == 'consumptionTypeMonth' + clientId) {
                $(this).click();
                $(this).focus();

                previousMonthLastIndex = null;
                /*[# th:each="client : ${previousMonthLastIndex}"]*/
                    if ('[(${client.key})]' == clientId) {
                        previousMonthLastIndex = '[(${client.value})]';
                    }
                /*[/]*/

                monthConsumption = [];
                currentIndexValue = null;
                /*[# th:each="client : ${monthlyStats}"]*/
                    if ('[(${client.key})]' == clientId) {
                        /*[# th:each="index, item : ${client.value}"]*/
                            if ('[(${item.index})]' == 0) {
                                currentIndexValue = '[(${index.value})]';
                                if (currentIndexValue == 0.0) {
                                    monthConsumption.push('0.0');
                                } else if (currentIndexValue != 0.0 && previousMonthLastIndex == 0.0) {
                                    monthConsumption.push('0.0');
                                } else if (currentIndexValue != 0.0 && previousMonthLastIndex != 0.0) {
                                    monthConsumption.push(parseFloat(currentIndexValue - previousMonthLastIndex).toFixed(2));
                                }
                            } else {
                                if ('[(${index.value})]' == 0.0) {
                                    monthConsumption.push('0.0');
                                } else if ('[(${index.value})]' != 0.0 && currentIndexValue == 0.0) {
                                    monthConsumption.push('0.0');
                                    currentIndexValue = '[(${index.value})]';
                                } else if ('[(${index.value})]' != 0.0 && currentIndexValue != 0.0) {
                                    monthConsumption.push(parseFloat('[(${index.value})]' - currentIndexValue).toFixed(2));
                                    currentIndexValue = '[(${index.value})]';
                                }
                            }
                        /*[/]*/
                    }
                /*[/]*/

                yearConsumption = [];
                /*[# th:each="client : ${yearlyStats}"]*/
                    if ('[(${client.key})]' == clientId) {
                        /*[# th:each="index, item : ${client.value}"]*/
                            yearConsumption.push('[(${index.value})]');
                        /*[/]*/
                    }
                /*[/]*/
                $('.weekConsumptionTotal').html(getTotalWeekConsumption() + ' [(#{utility.consumption.units.label(${branchOrdinal})})]');
                $('.monthConsumptionTotal').html(getTotalMonthConsumption() + ' [(#{utility.consumption.units.label(${branchOrdinal})})]');
                $('.yearConsumptionTotal').html(getTotalYearConsumption() + ' [(#{utility.consumption.units.label(${branchOrdinal})})]');
            }
        });
    });

    var togMenu = sessionStorage.getItem("toggleMenuMode");
    if (togMenu == 'On' && togMenu != null) {
        $('#sidebarCollapse').tooltip('dispose').tooltip();
        $('#sidebarCollapse').removeClass('bi-arrow-right-square');
        $('#sidebarCollapse').addClass('bi-arrow-left-square');
        $('#sidebarCollapse').attr('data-bs-original-title', '[(#{toggle.layout.tooltip.hide})]');
        $('#sidebar').show();
    } else if (togMenu == 'Off' && togMenu != null) {
        $('#sidebarCollapse').tooltip('dispose').tooltip();
        $('#sidebarCollapse').removeClass('bi-arrow-left-square');
        $('#sidebarCollapse').addClass('bi-arrow-right-square');
        $('#sidebarCollapse').attr('data-bs-original-title', '[(#{toggle.layout.tooltip.show})]');
        $('#sidebar').hide();
    }

    /* iOS re-orientation fix */
    if (navigator.userAgent.match('/iPhone/i') || navigator.userAgent.match('/iPad/i')) {
        /* iOS hides Safari address bar */
        window.addEventListener("load",function() {
            setTimeout(function() {
                window.scrollTo(0, 1);
            }, 1000);
        });
    }

    $('[title]').each(function() {
        $(this).attr('data-bs-toggle', 'tooltip');
        $(this).attr('data-bs-html', 'true');
    });

    function activateTab() {
        var tabId = sessionStorage.getItem("currentActiveTab");
        if (tabId != null) {
            $('.nav-tabs button[data-bs-target="#nav' + tabId + '"]').tab('show');
        }
    }

    function getFirstClientId() {
        var active_button = $('.tab-content div.active');
        if (active_button.attr("id") != null) {
            return active_button.attr("id").substr(3);
        } else {
            return 0;
        }
    }

    clientId = getFirstClientId();

    function replaceCanvas(elem) {
        canvas = document.createElement('canvas');
        var newContext = canvas.getContext('2d');
        elem.parentNode.insertBefore(canvas, elem.nextSibling);
        elem.parentNode.removeChild(elem);
        canvas.id = 'indexChart' + clientId;
        return newContext;
    }

    $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
        clientId = e.target.id.substr(3).substr(0, this.id.substr(3).length - 3);
        sessionStorage.setItem("currentActiveTab", clientId);
        ctx = replaceCanvas(document.getElementById('indexChart' + clientId));
        myChart = new Chart(ctx, {
            type: chartType,
            data: data,
            options: options
        });
        $('.consumptionMonthType').each(function() {
            if ($(this).attr('id') == 'consumptionTypeMonth' + clientId) {
                $(this).click();
                $(this).focus();

                previousMonthLastIndex = null;
                /*[# th:each="client : ${previousMonthLastIndex}"]*/
                    if ('[(${client.key})]' == clientId) {
                        previousMonthLastIndex = '[(${client.value})]';
                    }
                /*[/]*/

                monthConsumption = [];
                currentIndexValue = null;
                /*[# th:each="client : ${monthlyStats}"]*/
                    if ('[(${client.key})]' == clientId) {
                        /*[# th:each="index, item : ${client.value}"]*/
                            if ('[(${item.index})]' == 0) {
                                currentIndexValue = '[(${index.value})]';
                                if (currentIndexValue == 0.0) {
                                    monthConsumption.push('0.0');
                                } else if (currentIndexValue != 0.0 && previousMonthLastIndex == 0.0) {
                                    monthConsumption.push('0.0');
                                } else if (currentIndexValue != 0.0 && previousMonthLastIndex != 0.0) {
                                    monthConsumption.push(parseFloat(currentIndexValue - previousMonthLastIndex).toFixed(2));
                                }
                            } else {
                                if ('[(${index.value})]' == 0.0) {
                                    monthConsumption.push('0.0');
                                } else if ('[(${index.value})]' != 0.0 && currentIndexValue == 0.0) {
                                    monthConsumption.push('0.0');
                                    currentIndexValue = '[(${index.value})]';
                                } else if ('[(${index.value})]' != 0.0 && currentIndexValue != 0.0) {
                                    monthConsumption.push(parseFloat('[(${index.value})]' - currentIndexValue).toFixed(2));
                                    currentIndexValue = '[(${index.value})]';
                                }
                            }
                        /*[/]*/
                    }
                /*[/]*/

                yearConsumption = [];
                /*[# th:each="client : ${yearlyStats}"]*/
                    if ('[(${client.key})]' == clientId) {
                        /*[# th:each="index, item : ${client.value}"]*/
                            yearConsumption.push('[(${index.value})]');
                        /*[/]*/
                    }
                /*[/]*/
                $('.weekConsumptionTotal').html(getTotalWeekConsumption() + ' [(#{utility.consumption.units.label(${branchOrdinal})})]');
                $('.monthConsumptionTotal').html(getTotalMonthConsumption() + ' [(#{utility.consumption.units.label(${branchOrdinal})})]');
                $('.yearConsumptionTotal').html(getTotalYearConsumption() + ' [(#{utility.consumption.units.label(${branchOrdinal})})]');
            }
        });
    });

    $("button").click(function() {
        if($(this).find("a").hasClass("active")) {
            $(this).find("a").removeClass("active");
            $(this).find("a").hide();
        } else {
            $("button a").removeClass("active");
            $("button a").hide();
            $(this).find("a").addClass("active");
            $(this).find("a").show();
        }
    });

    $("button a").click(function() {
        var buttonId = this.id;
        if(buttonId.startsWith("delete")) {
            if($(this).hasClass("active")) {
                $("#deleteBackdrop").modal("show");
            }
        } else if(buttonId.startsWith("put")) {
            if($(this).hasClass("active")) {
                $(this).attr("href", "/user/dashboard/" + '[(${branch})]' + "/client-code-edit/" + clientId);
            }
        }
    });

    function deleteClient(branch, id) {
        hdr = $("meta[name='_csrf_header']").attr("content");
        tok = $("meta[name='_csrf']").attr("content");

        var reqHeaders = new Headers();
        reqHeaders.set(hdr, tok);

        return fetch("/user/dashboard/" + branch + "/client-code/" + id, {
            method: 'DELETE',
            headers: reqHeaders
        })
        .then(response => response.text())
        .then(data => {
            window.location.href = "/user/dashboard/" + branch;
        })
        .catch(err => err);
    }

    $("#setDelete").click(function() {
        deleteClient('[(${branch})]', clientId);
    });

    function saveOldIndexValue(branch, clientCodeId, indexId, newVal, oldVal) {
        hdr = $("meta[name='_csrf_header']").attr("content");
        tok = $("meta[name='_csrf']").attr("content");

        var reqHeaders = new Headers();
        reqHeaders.set(hdr, tok);
        reqHeaders.set('Content-Type', 'application/json');

        const data = {
            'value': newVal,
            'lastIndex': oldVal
        };

        return fetch("/user/dashboard/" + branch + "/client-code/" + clientCodeId + "/client-index/" + indexId, {
            method: 'PUT',
            body: JSON.stringify(data),
            headers: reqHeaders
        })
        .then(response => response.text());
    }

    $('.saveMode').click(function() {
        var newIndexValue;
        var content = $(this).siblings('td.editableValue').find('.saveInput').val();
        newIndexValue = $(this).siblings('td.editableValue').find('.saveInput').val();
        $(this).siblings('td.editableValue').find('.saveInput').html(content);

        var indexValueId = $(this).siblings('td.editableValue').attr('id');
        saveOldIndexValue('[(${branch})]', clientId, indexValueId, newIndexValue, oldValueContent)
            .then(data => {
                if (data.startsWith('*')) {
                    $('div#indexError').remove();
                    $('<div id="indexError" class="alert p-0 m-0 text-end"></div>').insertBefore('#indexTableData' + clientId);
                    $('div#indexError').html(data);
                    $(this).siblings('td.editableValue').find('.saveInput').css('background-color', '#FFC0CB');
                    $(this).siblings('td.editableValue').find('.saveInput').focus();
                    $(this).siblings('td.editableValue').find('.saveInput').select();
                } else {
                    $('.saveInput').contents().unwrap();
                    $(this).siblings('td.editableValue').css('color', '#FF0000');
                    $(this).siblings('.editMode').show();
                    $(this).siblings('.cancelMode').hide();
                    $(this).hide();
                    window.location.href = "/user/dashboard/" + '[(${branch})]';
                }
            })
            .catch(err => err);
    });

    $(document).on('keypress', '.saveInput', function (e) {
        var keycode = (e.keyCode ? e.keyCode : e.which);
        var indexValueId = $(this).parent('td.editableValue').attr('id');
        if ((keycode == '13') && ($(this).attr('id') == 'saveInputId' + indexValueId)) {
            //Disable textbox to prevent multiple submit
            $(this).attr("disabled", "disabled");

            $(this).parent('td.editableValue').siblings('.saveMode').click();

            //Enable the textbox again if needed.
            $(this).removeAttr("disabled");
        }
    });

    $(document).on('keyup', '.saveInput', function (e) {
        var keycode = (e.keyCode ? e.keyCode : e.which);
        var indexValueId = $(this).parent('td.editableValue').attr('id');
        if ((keycode == '27') && ($(this).attr('id') == 'saveInputId' + indexValueId)) {
            $(this).parent('td.editableValue').siblings('.cancelMode').click();
        }
    });

    $('.editMode').click(function() {
        if ($('.saveInput').length > 0) {
            $('div#indexError').remove();
            $('<div id="indexError" class="alert p-0 m-0 text-end"></div>').insertBefore('#indexTableData' + clientId);
            $('div#indexError').html('[(#{utility.index.button.edit.instance})]');
        } else {
            $('div#indexError').remove();
            $(this).siblings('td.editableValue').each(function() {
                var content = $(this).html();
                oldValueContent = content;
                $(this).html('<input value="' + content + '" id="saveInputId' + $(this).attr('id') + '" class="saveInput" style="height:100%; width:100%; padding:0; margin:0; text-align: center" />');
                $(this).addClass('border-end-0');
                $(this).closest('tbody').find('td.editableValue').attr('colspan', '3');
                $(this).closest('tbody').siblings('thead').find('th.optimizeWidth').attr('colspan', '3');
                $(this).attr('colspan', '1');
            });

            $(this).siblings('.saveMode').show();
            $(this).siblings('.saveMode').attr('style', 'display: table-cell');
            $(this).siblings('.cancelMode').show();
            $(this).siblings('.cancelMode').attr('style', 'display: table-cell');
            $(this).siblings('td.editableValue').find('.saveInput').focus();
            $(this).siblings('td.editableValue').find('.saveInput').select();
            $(this).hide();
        }
    });

    $('.cancelMode').click(function() {
        $(this).siblings('td.editableValue').find('.saveInput').html(oldValueContent);
        $(this).siblings('td.editableValue').find('.saveInput').contents().unwrap();

        $(this).siblings('td.editableValue').each(function() {
            $(this).addClass('border-end-0');
            $(this).closest('tbody').find('td.editableValue').attr('colspan', '2');
            $(this).closest('tbody').siblings('thead').find('th.optimizeWidth').attr('colspan', '2');
            $(this).attr('colspan', '1');
        });

        $(this).closest('.table-responsive').find('div#indexError').remove();
        $(this).siblings('.editMode').show();
        $(this).siblings('.editMode').attr('style', 'display: table-cell');
        $(this).siblings('.saveMode').hide();
        $(this).hide();
    });

    $('.addNewIndexButton').click(function() {
        if ($(this).attr('id') == 'addIndexId' + clientId) {
            window.location.href = "/user/dashboard/" + '[(${branch})]' + "/client-code/" + clientId + "/client-index"
        }
    });

    function initChart() {
        if(myChart != null) {
            myChart.destroy();
        }
        canvas = document.getElementById('indexChart' + clientId);
        if (canvas != null) {
            ctx = canvas.getContext('2d');
            myChart = new Chart(ctx, {
                type: chartType,
                data: data,
                options: options
            });
        }
    }

    function toggleChart() {
        const currentChartTitle = myChart.options.title.text;
        myChart.destroy();
        this.chartType = (this.chartType == 'line') ? 'bar' : 'line';
        initChart();
        myChart.options.title.text = currentChartTitle;
        myChart.update();
    }

    $(".switch").click(function() {
        if ($(this).attr('id') == 'switchChart' + clientId) {
            toggleChart();
            $(this).tooltip('dispose').tooltip();
            if ($(this).hasClass('bi-bar-chart')) {
                $(this).removeClass('bi-bar-chart');
                $(this).addClass('bi-graph-up');
                $(this).attr('data-bs-original-title', '[(#{chart.button.switch.tooltip.line})]');
            } else {
                $(this).removeClass('bi-graph-up');
                $(this).addClass('bi-bar-chart');
                $(this).attr('data-bs-original-title', '[(#{chart.button.switch.tooltip.bar})]');
            }
        }
    });

    var weekConsumption = [];
    function getTotalWeekConsumption() {
        return parseFloat(weekConsumption.reduce((a, b) => parseFloat(a) + parseFloat(b), 0)).toFixed(2);
    }

    var monthConsumption = [];
    function getTotalMonthConsumption() {
        return parseFloat(monthConsumption.reduce((a, b) => parseFloat(a) + parseFloat(b), 0)).toFixed(2);
    }

    var yearConsumption = [];
    function getTotalYearConsumption() {
        return parseFloat(yearConsumption.reduce((a, b) => parseFloat(a) + parseFloat(b), 0)).toFixed(2);
    }

    var daysOfWeekNumbers = [];
    /*[# th:each="day : ${daysOfWeek}"]*/
        daysOfWeekNumbers.push('[(${day})]');
    /*[/]*/

    var daysOfWeekLabels = [];
    /*[# th:each="client : ${weeklyStats}"]*/
        if ('[(${client.key})]' == clientId) {
            /*[# th:each="weekLabel : ${client.value}"]*/
                daysOfWeekLabels.push('[(${weekLabel.key})]'.concat(' (').concat(daysOfWeekNumbers['[(${weekLabelStat.index})]']).concat(')'));
            /*[/]*/
        }
    /*[/]*/

    var previousWeekLastIndex = null;
    /*[# th:each="client : ${previousWeekLastIndex}"]*/
        if ('[(${client.key})]' == clientId) {
            previousWeekLastIndex = '[(${client.value})]';
        }
    /*[/]*/

    var currentIndexValue = null;
    /*[# th:each="client : ${weeklyStats}"]*/
        if ('[(${client.key})]' == clientId) {
            /*[# th:each="index, item : ${client.value}"]*/
                if ('[(${item.index})]' == 0) {
                    currentIndexValue = '[(${index.value})]';
                    if (currentIndexValue == 0.0) {
                        weekConsumption.push('0.0');
                    } else if (currentIndexValue != 0.0 && previousWeekLastIndex == 0.0) {
                        weekConsumption.push('0.0');
                    } else if (currentIndexValue != 0.0 && previousWeekLastIndex != 0.0) {
                        weekConsumption.push(parseFloat(currentIndexValue - previousWeekLastIndex).toFixed(2));
                    }
                } else {
                    if ('[(${index.value})]' == 0.0) {
                        weekConsumption.push('0.0');
                    } else if ('[(${index.value})]' != 0.0 && currentIndexValue == 0.0) {
                        weekConsumption.push('0.0');
                        currentIndexValue = '[(${index.value})]';
                    } else if ('[(${index.value})]' != 0.0 && currentIndexValue != 0.0) {
                        weekConsumption.push(parseFloat('[(${index.value})]' - currentIndexValue).toFixed(2));
                        currentIndexValue = '[(${index.value})]';
                    }
                }
            /*[/]*/
        }
    /*[/]*/

    var chart_labels = daysOfWeekLabels;
    var temp_dataset = weekConsumption;
    var data = {
        labels: chart_labels,
        datasets: [{
            label: '[(#{chart.consumption.title})]',
            fill: true,
            lineTension: 0.1,
            backgroundColor: 'rgba(161, 198, 247, 1)',
            borderColor: 'rgb(47, 128, 237)',
            borderCapStyle: 'square',
            pointBorderColor: "white",
            pointBackgroundColor: "green",
            pointBorderWidth: 1,
            pointHoverRadius: 8,
            pointHoverBackgroundColor: "yellow",
            pointHoverBorderColor: "green",
            pointHoverBorderWidth: 2,
            pointRadius: 4,
            pointHitRadius: 10,
            data: temp_dataset,
            spanGaps: true,
        }]
    };

    var options = {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },
                scaleLabel: {
                    fontSize: 13,
                    display: true,
                    labelString: '[(#{chart.yAxis.title(${branchOrdinal})})]',
                    align: 'center'
                }
            }]
        },
        title: {
            fontSize: 15,
            display: true,
            text: '[(#{chart.consumption.title.week.text(${#temporals.format(weekFirstDay, 'dd-MM-yyyy')}, ${#temporals.format(weekLastDay, 'dd-MM-yyyy')})})]',
            position: 'top'
        },
        legend: {
            display: true,
            position: 'top',
        }
    };

    function removeDataSet(ds1) {
        let removalIndex = data.datasets.indexOf(ds1);
        if(removalIndex >= 0) {
            data.datasets.splice(removalIndex, 1);
        }
    }

    // consumption chart within the current week
    $(".consumptionWeekType").click(function() {
        if ($(this).attr('id') == 'consumptionTypeWeek' + clientId) {
            /*[# th:each="client : ${previousWeekLastIndex}"]*/
                if ('[(${client.key})]' == clientId) {
                    previousWeekLastIndex = '[(${client.value})]';
                }
            /*[/]*/

            updateConsumptionWeekChart();
        }
    });

    function updateConsumptionWeekChart() {
        weekConsumption = [];
        currentIndexValue = null;
        /*[# th:each="client : ${weeklyStats}"]*/
            if ('[(${client.key})]' == clientId) {
                /*[# th:each="index, item : ${client.value}"]*/
                    if ('[(${item.index})]' == 0) {
                        currentIndexValue = '[(${index.value})]';
                        if (currentIndexValue == 0.0) {
                            weekConsumption.push('0.0');
                        } else if (currentIndexValue != 0.0 && previousWeekLastIndex == 0.0) {
                            weekConsumption.push('0.0');
                        } else if (currentIndexValue != 0.0 && previousWeekLastIndex != 0.0) {
                            weekConsumption.push(parseFloat(currentIndexValue - previousWeekLastIndex).toFixed(2));
                        }
                    } else {
                        if ('[(${index.value})]' == 0.0) {
                            weekConsumption.push('0.0');
                        } else if ('[(${index.value})]' != 0.0 && currentIndexValue == 0.0) {
                            weekConsumption.push('0.0');
                            currentIndexValue = '[(${index.value})]';
                        } else if ('[(${index.value})]' != 0.0 && currentIndexValue != 0.0) {
                            weekConsumption.push(parseFloat('[(${index.value})]' - currentIndexValue).toFixed(2));
                            currentIndexValue = '[(${index.value})]';
                        }
                    }
                /*[/]*/
            }
        /*[/]*/

        chart_labels = daysOfWeekLabels;
        temp_dataset = weekConsumption;
        myChart.data.labels = chart_labels;
        myChart.data.datasets[0].data = temp_dataset;
        myChart.data.datasets[0].label = '[(#{chart.consumption.title})]';
        myChart.options.title.text = '[(#{chart.consumption.title.week.text(${#temporals.format(weekFirstDay, 'dd-MM-yyyy')}, ${#temporals.format(weekLastDay, 'dd-MM-yyyy')})})]';
        removeDataSet(myChart.data.datasets[1]);
        myChart.update();
    }

    var previousMonthLastIndex = null;

    // consumption chart within the current month
    $(".consumptionMonthType").click(function() {
        if ($(this).attr('id') == 'consumptionTypeMonth' + clientId) {
            previousMonthLastIndex = null;
            /*[# th:each="client : ${previousMonthLastIndex}"]*/
                if ('[(${client.key})]' == clientId) {
                    previousMonthLastIndex = '[(${client.value})]';
                }
            /*[/]*/

            updateConsumptionMonthChart();
        }
    });

    function updateConsumptionMonthChart() {
        var daysOfMonthNumbers = [];
        /*[# th:each="client : ${monthlyStats}"]*/
            if ('[(${client.key})]' == clientId) {
                /*[# th:each="index : ${client.value}"]*/
                    daysOfMonthNumbers.push('[(${index.key})]');
                /*[/]*/
            }
        /*[/]*/

        monthConsumption = [];
        currentIndexValue = null;
        /*[# th:each="client : ${monthlyStats}"]*/
            if ('[(${client.key})]' == clientId) {
                /*[# th:each="index, item : ${client.value}"]*/
                    if ('[(${item.index})]' == 0) {
                        currentIndexValue = '[(${index.value})]';
                        if (currentIndexValue == 0.0) {
                            monthConsumption.push('0.0');
                        } else if (currentIndexValue != 0.0 && previousMonthLastIndex == 0.0) {
                            monthConsumption.push('0.0');
                        } else if (currentIndexValue != 0.0 && previousMonthLastIndex != 0.0) {
                            monthConsumption.push(parseFloat(currentIndexValue - previousMonthLastIndex).toFixed(2));
                        }
                    } else {
                        if ('[(${index.value})]' == 0.0) {
                            monthConsumption.push('0.0');
                        } else if ('[(${index.value})]' != 0.0 && currentIndexValue == 0.0) {
                            monthConsumption.push('0.0');
                            currentIndexValue = '[(${index.value})]';
                        } else if ('[(${index.value})]' != 0.0 && currentIndexValue != 0.0) {
                            monthConsumption.push(parseFloat('[(${index.value})]' - currentIndexValue).toFixed(2));
                            currentIndexValue = '[(${index.value})]';
                        }
                    }
                /*[/]*/
            }
        /*[/]*/

        chart_labels = daysOfMonthNumbers;
        temp_dataset = monthConsumption;
        myChart.data.labels = chart_labels;
        myChart.data.datasets[0].data = temp_dataset;
        myChart.data.datasets[0].label = '[(#{chart.consumption.title})]';
        myChart.options.title.text = '[(#{chart.consumption.title.month.text(${currentMonth})})]';
        removeDataSet(myChart.data.datasets[1]);
        myChart.update();
    }

    // consumption chart within the current year
    $(".consumptionYearType").click(function() {
        if ($(this).attr('id') == 'consumptionTypeYear' + clientId) {
            updateConsumptionYearChart();
        }
    });

    function updateConsumptionYearChart() {
        var monthsOfYearLabels = [];
        /*[# th:each="client : ${monthlyMinValues}"]*/
            if ('[(${client.key})]' == clientId) {
                /*[# th:each="index : ${client.value}"]*/
                    monthsOfYearLabels.push('[(${index.key})]');
                /*[/]*/
            }
        /*[/]*/

        var yearMinIndexes = [];
        /*[# th:each="client : ${monthlyMinConsumptionValues}"]*/
            if ('[(${client.key})]' == clientId) {
                /*[# th:each="index : ${client.value}"]*/
                    yearMinIndexes.push('[(${index.value})]');
                /*[/]*/
            }
        /*[/]*/

        var yearMaxIndexes = [];
        /*[# th:each="client : ${monthlyMaxConsumptionValues}"]*/
            if ('[(${client.key})]' == clientId) {
                /*[# th:each="index : ${client.value}"]*/
                    yearMaxIndexes.push('[(${index.value})]');
                /*[/]*/
            }
        /*[/]*/

        var temp_dataset1 = yearMinIndexes;
        var temp_dataset2 = yearMaxIndexes;
        chart_labels = monthsOfYearLabels;
        myChart.data.labels = chart_labels;
        myChart.data.datasets[0].data = temp_dataset1;
        myChart.data.datasets[0].label = '[(#{chart.consumption.minMax.title(Min)})]';
        myChart.data.datasets[1] = {
        label: '[(#{chart.consumption.minMax.title(Max)})]',
        fill: true,
        lineTension: 0.1,
        backgroundColor: 'rgba(247, 198, 161, 1)',
        borderColor: 'rgb(237, 128, 47)',
        borderCapStyle: 'square',
        pointBorderColor: "white",
        pointBackgroundColor: "green",
        pointBorderWidth: 1,
        pointHoverRadius: 8,
        pointHoverBackgroundColor: "yellow",
        pointHoverBorderColor: "green",
        pointHoverBorderWidth: 2,
        pointRadius: 4,
        pointHitRadius: 10,
        data: temp_dataset2,
        spanGaps: true,
        };
        myChart.options.title.text = '[(#{chart.consumption.title.year.text})]';
        myChart.update();
    }

    // index chart within the current week
    $(".indexWeekType").click(function() {
        if ($(this).attr('id') == 'indexTypeWeek' + clientId) {
            updateIndexWeekChart();
        }
    });

    function updateIndexWeekChart() {
        var weekIndexes = [];
        /*[# th:each="client : ${weeklyStats}"]*/
            if ('[(${client.key})]' == clientId) {
                /*[# th:each="index : ${client.value}"]*/
                    weekIndexes.push('[(${index.value})]');
                /*[/]*/
            }
        /*[/]*/

        chart_labels = daysOfWeekLabels;
        temp_dataset = weekIndexes;
        myChart.data.labels = chart_labels;
        myChart.data.datasets[0].data = temp_dataset;
        myChart.data.datasets[0].label = '[(#{chart.index.title})]';
        myChart.options.title.text = '[(#{chart.index.title.week.text(${#temporals.format(weekFirstDay, 'dd-MM-yyyy')}, ${#temporals.format(weekLastDay, 'dd-MM-yyyy')})})]';
        removeDataSet(myChart.data.datasets[1]);
        myChart.update();
    }

    // index chart within the current month
    $(".indexMonthType").click(function() {
        if ($(this).attr('id') == 'indexTypeMonth' + clientId) {
            updateIndexMonthChart();
        }
    });

    function updateIndexMonthChart() {
        var daysOfMonthNumbers = [];
        /*[# th:each="client : ${monthlyStats}"]*/
            if ('[(${client.key})]' == clientId) {
                /*[# th:each="index : ${client.value}"]*/
                    daysOfMonthNumbers.push('[(${index.key})]');
                /*[/]*/
            }
        /*[/]*/

        var monthIndexes = [];
        /*[# th:each="client : ${monthlyStats}"]*/
            if ('[(${client.key})]' == clientId) {
                /*[# th:each="index : ${client.value}"]*/
                    monthIndexes.push('[(${index.value})]');
                /*[/]*/
            }
        /*[/]*/

        chart_labels = daysOfMonthNumbers;
        temp_dataset = monthIndexes;
        myChart.data.labels = chart_labels;
        myChart.data.datasets[0].data = temp_dataset;
        myChart.data.datasets[0].label = '[(#{chart.index.title})]';
        myChart.options.title.text = '[(#{chart.index.title.month.text(${currentMonth})})]';
        removeDataSet(myChart.data.datasets[1]);
        myChart.update();
    }

    // index chart within the current year
    $(".indexYearType").click(function() {
        if ($(this).attr('id') == 'indexTypeYear' + clientId) {
            updateIndexYearChart();
        }
    });

    function updateIndexYearChart() {
        var monthsOfYearLabels = [];
        /*[# th:each="client : ${monthlyMinValues}"]*/
            if ('[(${client.key})]' == clientId) {
                /*[# th:each="index : ${client.value}"]*/
                    monthsOfYearLabels.push('[(${index.key})]');
                /*[/]*/
            }
        /*[/]*/

        var yearMinIndexes = [];
        /*[# th:each="client : ${monthlyMinValues}"]*/
            if ('[(${client.key})]' == clientId) {
                /*[# th:each="index : ${client.value}"]*/
                    yearMinIndexes.push('[(${index.value})]');
                /*[/]*/
            }
        /*[/]*/

        var yearMaxIndexes = [];
        /*[# th:each="client : ${monthlyMaxValues}"]*/
            if ('[(${client.key})]' == clientId) {
                /*[# th:each="index : ${client.value}"]*/
                    yearMaxIndexes.push('[(${index.value})]');
                /*[/]*/
            }
        /*[/]*/

        var temp_dataset1 = yearMinIndexes;
        var temp_dataset2 = yearMaxIndexes;
        chart_labels = monthsOfYearLabels;
        myChart.data.labels = chart_labels;
        myChart.data.datasets[0].data = temp_dataset1;
        myChart.data.datasets[0].label = '[(#{chart.index.minMax.title(Min)})]';
        myChart.data.datasets[1] = {
        label: '[(#{chart.index.minMax.title(Max)})]',
        fill: true,
        lineTension: 0.1,
        backgroundColor: 'rgba(247, 198, 161, 1)',
        borderColor: 'rgb(237, 128, 47)',
        borderCapStyle: 'square',
        pointBorderColor: "white",
        pointBackgroundColor: "green",
        pointBorderWidth: 1,
        pointHoverRadius: 8,
        pointHoverBackgroundColor: "yellow",
        pointHoverBorderColor: "green",
        pointHoverBorderWidth: 2,
        pointRadius: 4,
        pointHitRadius: 10,
        data: temp_dataset2,
        spanGaps: true,
        };
        myChart.options.title.text = '[(#{chart.index.title.year.text})]';
        myChart.update();
    }
})
</script>

</body>
</html>
