
#error-section {
  margin: auto;
  width: calc(495px + 40px);
}

#error-section .card {
  position: relative;
  width: 495px;
  min-width: 495px;
  display: flex;
  margin: auto;
  text-align: center;
  font-family: "Serif"!important;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#error-section .upper-side {
  height: 180px;
  width: auto;
  background-color: #8BC34A;
  display: block;
  color: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#error-section .status {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 0;
  color: black;
  z-index: 2;
}

#error-section #c0 {
  position: absolute;
  width: fit-content;
  font-size: 3.5em;
  margin-top: 129px;
  margin-left: 52px;
}

#error-section #c1 {
  position: absolute;
  width: fit-content;
  font-size: 5.5em;
  margin-top: 47px;
  margin-left: 167px;
}

#error-section #c2 {
  position: absolute;
  width: fit-content;
  font-size: 7.5em;
  margin-top: 49px;
  margin-left: 342px;
}

#error-section .lower-side {
  padding-top: 25px;
  padding-bottom: 0;
  padding-left: 25px;
  padding-right: 25px;
  background: #fff;
  display: block;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#error-section .lower-side p {
  padding-top: 5px;
}

#error-section .message {
  margin-top: 10px;
  color: #757575;
  letter-spacing: 1px;
  font-size: 20px;
}

#error-section .contBtn {
  position: relative;
  text-decoration: none;
  background: #8BC34A;
  color: #fff;
  padding: .8em 3em;
  -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  border-radius: 25px;
  -webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;
}

#error-section .contBtn:hover {
  -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  -webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;
}

#error-section .scaleHover {
  margin-top: 25px;
  margin-bottom: 25px;
}

#error-section .scaleHover:hover {
  transform: scale(1.05);
}

#error-section .autoRedirect {
  color: #757575;
  font-size: 10px;
}

#error-section #redirectLogin {
  margin: 0;
}

#error-section .progress-wrapper {
  line-height: 0;
  margin-left: -1.5em;
  margin-right: -1.5em;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 5px;
  color: #009A6B;
}

progress[value]::-webkit-progress-bar {
  color: #8BC34A;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  color: #8BC34A;
  background-color: #8BC34A;
  border-radius: 5px;
}

progress[value]::-moz-progress-bar {
  color: #8BC34A;
  background-color: #8BC34A;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25) inset;
}

.second {
  position: relative;
  background: #4285f4;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-animation: counter-clockwork 6.6666666667s linear infinite;
          animation: counter-clockwork 6.6666666667s linear infinite;
  position: absolute;
  top: 112px;
  left: 17px;
}
.second::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  background: white;
  color: black;
  border-radius: 50%;
}
.second .cog {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  background: #4285f4;
  border-radius: 20%/10%;
}
.second .cog:nth-child(2) {
  transform: rotate(45deg);
}
.second .cog:nth-child(3) {
  transform: rotate(90deg);
}
.second .cog:nth-child(4) {
  transform: rotate(135deg);
}
@keyframes clockwork {
  to {
    transform: rotate(1turn);
  }
}
@keyframes counter-clockwork {
  to {
    transform: rotate(-1turn);
  }
}

.third {
  position: relative;
  background: #fbbc05;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-animation: clockwork 10s linear infinite;
          animation: clockwork 10s linear infinite;
  position: absolute;
  top: 24px;
  left: 114px;
}
.third::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -37.5px;
  margin-left: -37.5px;
  width: 75px;
  height: 75px;
  background: white;
  border-radius: 50%;
}
.third .cog {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  background: #fbbc05;
  border-radius: 20%/10%;
}
.third .cog:nth-child(2) {
  transform: rotate(30deg);
}
.third .cog:nth-child(3) {
  transform: rotate(60deg);
}
.third .cog:nth-child(4) {
  transform: rotate(90deg);
}
.third .cog:nth-child(5) {
  transform: rotate(120deg);
}
.third .cog:nth-child(6) {
  transform: rotate(150deg);
}
@keyframes clockwork {
  to {
    transform: rotate(1turn);
  }
}
@keyframes counter-clockwork {
  to {
    transform: rotate(-1turn);
  }
}

.fourth {
  position: relative;
  background: #34a853;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-animation: counter-clockwork 13.3333333333s linear infinite;
          animation: counter-clockwork 13.3333333333s linear infinite;
  position: absolute;
  top: 20px;
  left: 275px;
}
.fourth::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
}
.fourth .cog {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  background: #34a853;
  border-radius: 20%/10%;
}
.fourth .cog:nth-child(2) {
  transform: rotate(22.5deg);
}
.fourth .cog:nth-child(3) {
  transform: rotate(45deg);
}
.fourth .cog:nth-child(4) {
  transform: rotate(67.5deg);
}
.fourth .cog:nth-child(5) {
  transform: rotate(90deg);
}
.fourth .cog:nth-child(6) {
  transform: rotate(112.5deg);
}
.fourth .cog:nth-child(7) {
  transform: rotate(135deg);
}
.fourth .cog:nth-child(8) {
  transform: rotate(157.5deg);
}
@keyframes clockwork {
  to {
    transform: rotate(1turn);
  }
}
@keyframes counter-clockwork {
  to {
    transform: rotate(-1turn);
  }
}

@media screen and (max-width: 385px) {
  #error-section .card {
    min-width: auto;
    width: 96%;
  }

  .upper-side {
    height: 150px !important;
  }

  .second {
    width: 60px;
    height: 60px;
    top: 101px;
    left: 7px;
  }

  .second .cog {
    width: 10px;
    margin-left: -5px;
  }

  .second::after {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
  }

  #c0 {
    font-size: 2em !important;
    margin-top: 112px !important;
    margin-left: 29px !important;
  }

  .third {
    width: 110px;
    height: 110px;
    top: 30px;
    left: 70px;
  }

  .third .cog {
    width: 10px;
    margin-left: -5px;
  }

  .third::after {
    width: 55px;
    height: 55px;
    margin-top: -27.5px;
    margin-left: -27.5px;
  }

  #c1 {
    font-size: 4em !important;
    margin-top: 47px !important;
    margin-left: 108px !important;
  }

  .fourth {
    width: 160px;
    height: 160px;
    top: 20px;
    left: 192px;
  }

  .fourth .cog {
    width: 10px;
    margin-left: -5px;
  }

  .fourth::after {
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
  }

  #c2 {
    font-size: 6em !important;
    margin-top: 42px !important;
    margin-left: 245px !important;
  }
}

@media screen and (max-width: 412px) {
  #error-section .card {
    min-width: auto;
    width: 96%;
  }

  .upper-side {
    height: 150px !important;
  }

  .second {
    width: 60px;
    height: 60px;
    top: 101px;
    left: 20px;
  }

  .second .cog {
    width: 10px;
    margin-left: -5px;
  }

  .second::after {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
  }

  #c0 {
    font-size: 2em !important;
    margin-top: 112px !important;
    margin-left: 41px !important;
  }

  .third {
    width: 110px;
    height: 110px;
    top: 30px;
    left: 83px;
  }

  .third .cog {
    width: 10px;
    margin-left: -5px;
  }

  .third::after {
    width: 55px;
    height: 55px;
    margin-top: -27.5px;
    margin-left: -27.5px;
  }

  #c1 {
    font-size: 4em !important;
    margin-top: 47px !important;
    margin-left: 121px !important;
  }

  .fourth {
    width: 160px;
    height: 160px;
    top: 20px;
    left: 205px;
  }

  .fourth .cog {
    width: 10px;
    margin-left: -5px;
  }

  .fourth::after {
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
  }

  #c2 {
    font-size: 6em !important;
    margin-top: 42px !important;
    margin-left: 260px !important;
  }
}

@media screen and (max-width: 500px) {
  #error-section .card {
    min-width: auto;
    width: 96%;
  }

  .upper-side {
    height: 150px !important;
  }

  .second {
    width: 60px;
    height: 60px;
    top: 101px;
    left: 80px;
  }

  .second .cog {
    width: 10px;
    margin-left: -5px;
  }

  .second::after {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
  }

  #c0 {
    font-size: 2em !important;
    margin-top: 112px !important;
    margin-left: 102px !important;
  }

  .third {
    width: 110px;
    height: 110px;
    top: 30px;
    left: 143px;
  }

  .third .cog {
    width: 10px;
    margin-left: -5px;
  }

  .third::after {
    width: 55px;
    height: 55px;
    margin-top: -27.5px;
    margin-left: -27.5px;
  }

  #c1 {
    font-size: 4em !important;
    margin-top: 47px !important;
    margin-left: 182px !important;
  }

  .fourth {
    width: 160px;
    height: 160px;
    top: 20px;
    left: 265px;
  }

  .fourth .cog {
    width: 10px;
    margin-left: -5px;
  }

  .fourth::after {
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
  }

  #c2 {
    font-size: 6em !important;
    margin-top: 42px !important;
    margin-left: 320px !important;
  }
}
