#home-section {
  text-align: center;
  margin: auto;
  padding: 30px;
}

#home-section div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#home-section div.card div.fit-content {
  background-color: lavender;
  border-radius: 10px;
  margin-top: 45px;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

#home-section .scaleHover:hover, #home-section .feature:hover {
  transform: scale(1.05);
}
