#index-section {
  width: 100%;
  padding: 20px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modalPopUp .modal-content {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modalPopUp form {
  text-align: center;
  padding: 10px;
  margin: 10px;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modalPopUp form input[type="text"] {
  font-weight: bold;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modalPopUp form #oldIndex {
  border: none;
  box-shadow: none;
  cursor: default;
}

.modalPopUp form #newIndex:focus {
  box-shadow: 0 3px 0 -2px blue;
}

.modalPopUp .form-control {
  margin-bottom: 3px;
}

.modalPopUp label {
  font-weight: bold;
}

.modalPopUp #oldIndex.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modalPopUp .scaleHover:hover {
  transform: scale(1.05);
}

.modalPopUp .alert {
  color: red;
  font-size: 15px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 10px;
}

.modalPopUp .errors {
  margin-top: 5px;
  width: auto;
}
