body {
  display: flex;
  min-height: 100vh;
  background-color: lavender!important;
  font-family: "Times New Roman"!important;
}

#sidebar div ul li:hover, #sidebar div.languages a img:hover {
  transform: scale(1.05);
}

#sidebar div.d-flex {
  height: 100%;
  width: max-content;
}

#sidebar div.languages {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

#sidebar div.languages a img {
  cursor: pointer;
}

#sidebar div small {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sidebar #localTimeZone, #sidebar #serverTimeZone {
  font-size: 12px;
  text-align: center;
}
