body {
  display: flex;
  min-height: 100vh;
  background-color: lavender!important;
  font-family: "Serif"!important;
}

#sidebar div ul li:hover, #sidebar div.languages a img:hover {
  transform: scale(1.05);
}

#sidebar div.d-flex {
  height: 100%;
  width: max-content;
}

#sidebar div.languages {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

#sidebar div.languages a img {
  cursor: pointer;
}

#sidebar div small {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sidebar #localTimeZone, #sidebar #serverTimeZone {
  font-size: 12px;
  text-align: center;
}

#sidebar .toggleMenuButton {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 0;
  padding: 0;
  border-bottom-right-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebar .menuJustify {
  display: block !important;
  font-size: 35px;
  margin-left: -10px;
  margin-top: -10px;
}

#sidebar .toggleMenuButton:hover {
  transform: scale(1.05);
}

#sidebar .btn-close {
  position: absolute;
  background: transparent;
  font-size: 25px;
  line-height: normal;
  right: 5px;
  border-radius: 50px;
  box-shadow: none;
}

#sidebar .btn-close:focus {
  border: none;
  outline: none;
}

#sidebar .offcanvas-start {
  width: max-content;
  height: 100vh;
}

#sidebar .offcanvas-body {
  padding: 0;
}

#sidebar .overlay {
  display: block;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
#sidebar .overlay.active {
  display: block;
  opacity: 1;
}

#sidebar #dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  /* top right corner of the sidebar */
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 414px) {
  .toggleMenuButton {
    width: 30px !important;
    height: 30px !important;
  }

  .menuJustify {
    font-size: 20px !important;
  }
}
