#register-section {
  display: flex;
  margin: auto;
  padding: 35px;
}

#register-section div.card {
  width: 100%;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#register-section form {
  padding-top: 20px;
  flex-direction: row;
}

#register-section .form-control {
  margin-bottom: 3px;
}

#register-section input[type="text"], #register-section input[type="password"] {
  border-top: none;
  border-left: none;
  border-right: none;
}

#register-section input[type="password"]::-ms-reveal, #register-section input[type="password"]::-ms-clear {
  display: none;
}

#register-section input[type="text"]:focus, #register-section input[type="password"]:focus {
  box-shadow: 0 3px 0 -2px blue;
}

#register-section .no-select {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#register-section div.row {
  margin-left: 5px;
}

#register-section .alert {
  color: red;
  font-size: 15px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 10px;
}

#register-section .errors {
  margin-top: 5px;
  width: auto;
}

#register-section button.btn {
  width: auto;
}

#register-section .scaleHover:hover {
  transform: scale(1.05);
}

#register-section div a {
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  #register-section {
    padding: 5px !important;
  }

  #register-section div.card {
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-left-radius: 70px !important;
  }

  #register-section form div {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  #register-section form div.row {
    padding-left: 0;
  }

  #register-section form div.row div {
    padding-left: 20px;
  }

  #register-section form {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 414px) and (max-width: 500px) {
  #register-section {
    padding: 15px;
  }

  #register-section div.card {
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-left-radius: 70px !important;
  }

  #register-section form div {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  #register-section form div.row {
    padding-left: 0;
  }

  #register-section form div.row div {
    padding-left: 20px;
  }

  #register-section form {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
  }
}
