@font-face {
  font-family: "Times New Roman";
  src: url("/fonts/times new roman/times new roman.ttf") format('truetype');
}

#dashboard-section {
  display: flex;
  margin: auto;
}

#dashboard-section div.card-group {
  height: max-content;
}

#dashboard-section div.card-group a {
  text-decoration: none;
  color: black;
}

#dashboard-section div.card-group .card {
  width: 247px;
  margin: 15px;
  border-top-left-radius: 247px;
  border-top-right-radius: 247px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  border-width: medium;
}

#dashboard-section div.card-group .card:hover {
  transform: scale(1.05);
}

#dashboard-section div.card-group .card-title {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
  color: #6c757d;
  line-height: normal;
}

#dashboard-section div.card-group .card-body .card-text {
  margin: 0;
  padding-bottom: 20px;
}

#dashboard-section .bi-arrow-return-right::before {
  padding-right: 5px;
}

#dashboard-section div.card-group .card-footer {
  text-align: center;
  font-weight: bold;
}

#dashboard-section .bg-electricity img {
  margin-top: -5px;
  margin-bottom: 5px;
}

#dashboard-section img {
  align-self: center;
}

#dashboard-section .no-select {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
