#dashboard-section {
  display: flex;
  margin: auto;
}

#dashboard-section div.card-group {
  height: max-content;
}

#dashboard-section div.card-group a {
  text-decoration: none;
  color: black;
}

#dashboard-section div.card-group .card {
  max-width: 256px;
  margin: 20px;
  border-top-left-radius: 128px;
  border-top-right-radius: 128px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
 }

#dashboard-section div.card-group .card:hover {
  transform: scale(1.05);
}

#dashboard-section div.card-group .card-title {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 20px;
}

#dashboard-section div.card-group .card-footer {
  text-align: center;
  font-weight: bold;
}

#dashboard-section .no-select {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
