#utility-section {
  width: 100%;
  height: 100%;
  min-width: 580px;
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  border-top-left-radius: 70px;
  border-top-right-radius: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section div.noClient {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  color: #0d6efd;
}

#utility-section div.noClient .goBack {
  align-self: baseline;
  color: #0d6efd;
  background: none;
  border: 0;
  font-size: 30px;
}

#utility-section div.noClient .goBack:hover {
  color: #009B6D;
}

#utility-section div.top-buttons .goDashboard {
  color: #0d6efd;
  background: none;
  border: 0;
  font-size: 30px;
}

#utility-section div.top-buttons .goDashboard:hover {
  color: #009B6D;
}

#utility-section div.noClient .d-flex-inline {
  width: 100%;
}

#utility-section a.noClientData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: auto;
  font-size: 50px;
  text-align: center;
  border-radius: 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section a.noClientData:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgba(230, 230, 230, 0.5);
}

#utility-section .top-buttons {
  width: 100%;
}

#utility-section .top-buttons .img-utility {
  margin-top: -15px;
  margin-bottom: 5px;
  margin-right: -15px;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section .top-buttons .img-utility img {
  margin-top: -7px;
  margin-bottom: -5px;
  margin-left: -5px;
  margin-right: -5px;
}

#utility-section .utilityTitleText {
  color: #0d6efd;
  font-family: "Serif";
  font-weight: bold;
  font-size: 65px;
  line-height: normal;
  height: fit-content;
  width: 100%;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: 10px;
  text-align: left;
}

#utility-section .consumption-stats {
  display: flex;
  margin-top: -15px;
  margin-left: 10px;
  width: 100%;
}

#utility-section .box-shadow {
  padding-left: 10px;
  padding-right: 10px;
  line-height: normal;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section .box-shadow tr:hover td, #utility-section .box-shadow tr:hover th {
  cursor: default;
}

#utility-section .colored {
  color: #0d6efd;
}

#utility-section .card-group {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}

#utility-section div.row {
  padding-top: 10px;
  margin: 0;
}

#utility-section .clientsInfo.card {
  margin-bottom: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section .bottom-info {
  display: flex;
  margin-top: -1px;
  margin-bottom: -1px;
}

#utility-section .addInfoClass {
  display: flex;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section .addNewIndexButton {
  height: 100%;
}

#utility-section .addNewIndexButton:disabled {
  color: #fff;
  background-color: darkgray;
  border-color: darkgray;
}

#utility-section .cln {
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section .cln .cln-contract {
  width: fit-content;
}

#utility-section .table-no-border {
  border-width: 0;
}

#utility-section .table-no-bottom-border {
  border-bottom-width: 0;
}

#utility-section .table-no-top-border {
  border-top-width: 0;
}

#utility-section .clientsIndex.card {
  max-height: 355px;
  overflow-y: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section div.charts .card {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section .charts div a {
  width: 30px;
  height: 30px;
  font-size: 20px;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section .clientsIndex table tbody tr a {
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#utility-section .table-responsive {
  height: 100%;
}

#utility-section .clientsInfo .table {
  margin-bottom: 0;
}

#utility-section .clientsInfo .table tbody tr th {
  font-size: 14px;
  vertical-align: middle;
  cursor: default;
}

#utility-section .clientsInfo .table tbody tr td {
  font-size: 12px;
  vertical-align: middle;
  cursor: default;
}

#utility-section .clientsIndex .table thead tr th {
  font-size: 14px;
  vertical-align: middle;
  cursor: default;
}

#utility-section .clientsIndex .table tbody tr td {
  font-size: 12px;
  vertical-align: middle;
  cursor: default;
}

#utility-section button {
  font-size: 12px;
  font-weight: bold;
}

#utility-section .no-select {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scaleHover:hover {
  transform: scale(1.05);
}

#utility-section div a {
  cursor: pointer;
}

#utility-section #nav-tab button a {
  display: none;
  cursor: pointer;
  color: red;
  margin: auto;
  background: none;
}

#utility-section .modal-content {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section .modal-footer {
  margin: auto;
}

#utility-section .editableValue {
  width: 100%;
}

#utility-section .noWrap {
  width: auto;
  min-width: 83px;
}

#utility-section .buttonEdit {
  color: #ff0000;
  vertical-align: middle;
  width: 100%;
}

#utility-section .editMode {
  cursor: pointer;
  display: table-cell;
  width: 0;
}

#utility-section .editMode:hover a {
  color: #0a79df;
}

#utility-section .buttonCancelEdit {
  color: #aaa;
  vertical-align: middle;
  width: 100%;
}

#utility-section .cancelMode {
  cursor: pointer;
  display: none;
  width: 0;
}

#utility-section .cancelMode:hover a {
  color: #ff0000;
}

#utility-section .buttonSave {
  color: #aaa;
  vertical-align: middle;
  width: 100%;
}

#utility-section .saveMode {
  cursor: pointer;
  display: none;
  width: 0;
}

#utility-section .saveMode:hover a {
  color: #0a79df;
}

#utility-section .alert {
  color: red;
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 10px;
}

#utility-section .consumption-label, #utility-section .index-label {
  border-top: solid 1px #0a79df;
  border-left: solid 1px #0a79df;
  border-right: solid 1px #0a79df;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media screen and (max-width: 414px) {
  #utility-section {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px !important;
    min-width: 365px;
  }

  .utilityTitleText {
    font-size: 50px !important;
    margin-top: -10px !important;
  }

  .graphInfo {
    margin-left: 0 !important;
  }

  .graphInfo div table {
    display: block !important;
  }

  .box-shadow {
    display: flex;
    margin-bottom: 5px;
  }

  .graphInfo div table tbody tr {
    margin: auto;
  }

  .clientConsumptionData {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .charts {
    width: max-content;
  }

  .margin-left-responsive, .margin-right-responsive {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media screen and (min-width: 414px) and (max-width: 500px) {
  #utility-section {
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 15px !important;
    min-width: 365px;
  }

  .utilityTitleText {
    font-size: 50px !important;
    margin-top: -10px !important;
  }

  .graphInfo {
    margin-left: 0 !important;
  }

  .graphInfo div table {
    display: block !important;
  }

  .box-shadow {
    display: flex;
    margin-bottom: 5px;
  }

  .graphInfo div table tbody tr {
    margin: auto;
  }

  .clientConsumptionData {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .charts {
    width: max-content;
  }

  .margin-left-responsive, .margin-right-responsive {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media screen and (max-width: 992px) {
  .charts {
    padding-top: 10px;
  }
  #utility-section {
    margin-top: 20px;
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 1005px) {
  .margin-left-responsive {
    padding-left: 5px;
  }
  .margin-right-responsive {
    padding-right: 5px;
  }
}

@media screen and (max-width: 1270px) {
  .minWidth {
    width: min-content;
  }
}

@media screen and (max-width: 1465px) {
  .spaceBottom {
    padding-bottom: 10px;
  }

  .justify-content-md-evenly {
    justify-content: center;
  }
}

@media screen and (max-width: 1472px) {
  .spaceTop {
    padding-top: 10px;
  }

  .spaceBottom {
    padding-bottom: 10px;
  }

  .justify-content-md-evenly {
    justify-content: center;
  }
}
