#utility-section {
  width: 100%;
  padding: 20px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section div.noClient {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  color: #0d6efd;
}

#utility-section div.noClient .goBack {
  align-self: baseline;
}

#utility-section div.top-buttons .goDashboard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section div.noClient .d-flex-inline {
  width: 100%;
}

#utility-section a.noClientData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: auto;
  font-size: 50px;
  text-align: center;
  border-radius: 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section a.noClientData:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgba(230, 230, 230, 0.5);
}

.utilityTitleText {
  color: #0d6efd;
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: 65px;
  line-height: normal;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: 10px;
  text-align: center;
}

#utility-section .top-buttons {
  width: 100%;
}

#utility-section .top-buttons .img-utility {
  margin-top: -15px;
  margin-bottom: 5px;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section .top-buttons .img-utility img {
  margin-top: -7px;
  margin-bottom: -5px;
  margin-left: -5px;
  margin-right: -5px;
}

#utility-section .card-group {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}

#utility-section div.row {
  padding-top: 10px;
  margin: 0;
}

#utility-section .clientsInfo.card {
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section .bottom-info {
  display: flex;
  margin-top: -1px;
  margin-bottom: -1px;
}

#utility-section .addInfoClass {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section .addNewIndexButton {
  height: 100%;
}

#utility-section .addNewIndexButton:disabled {
  color: #fff;
  background-color: darkgray;
  border-color: darkgray;
}

#utility-section .cln {
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section .table-no-bottom-border {
  border-bottom-width: 0;
}

#utility-section .table-no-top-border {
  border-top-width: 0;
}

#utility-section .clientsIndex.card {
  max-height: 360px;
  overflow-y: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section div.charts .card {
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section .charts div a {
  width: 30px;
  height: 30px;
  font-size: 20px;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section .clientsIndex table tbody tr a {
  width: 30px;
  height: 30px;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#utility-section .table-responsive {
  height: 100%;
}

#utility-section .clientsInfo .table {
  margin-bottom: 0;
}

#utility-section .clientsInfo .table tbody tr th {
  font-size: 14px;
}

#utility-section .clientsInfo .table tbody tr td {
  font-size: 12px;
}

#utility-section .clientsIndex .table thead tr th {
  font-size: 14px;
}

#utility-section .clientsIndex .table tbody tr td {
  font-size: 12px;
}

#utility-section button {
  font-size: 12px;
  font-weight: bold;
}

#utility-section .no-select {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scaleHover:hover {
  transform: scale(1.05);
}

#utility-section div a {
  cursor: pointer;
}

#utility-section #nav-tab button a {
  display: none;
  cursor: pointer;
  color: red;
  margin: auto;
  background: none;
}

#utility-section .modal-content {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#utility-section .modal-footer {
  margin: auto;
}

#utility-section .editableValue {
  width: 100%;
}

#utility-section .noWrap {
  white-space: nowrap;
}

#utility-section .buttonEdit {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  width: 100%;
}

#utility-section .buttonEdit:hover {
  color: #0a79df;
}

#utility-section .buttonCancelEdit {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  width: 100%;
}

#utility-section .buttonCancelEdit:hover {
  color: #ff0000;
}

#utility-section .buttonSave {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  width: 100%;
}

#utility-section .buttonSave:hover {
  color: #0a79df;
}

#utility-section .editMode {
  display: block;
}

#utility-section .saveMode, #utility-section .cancelMode {
  display: none;
}

#utility-section .alert {
  color: red;
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 10px;
}
