<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: title(#{account.created.title}, ~{::link})}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/account-created-activated.css}" href="../static/css/account-created-activated.css">
</head>

<body>
<header th:replace="~{fragments/layout :: sidebar}"></header>
<section th:id="account-created-section" id="account-created-section">
    <div class="card">
        <div class="upper-side">
            <div class="success-checkmark">
                <div class="check-icon">
                    <span class="icon-line line-tip"></span>
                    <span class="icon-line line-long"></span>
                    <div class="icon-circle"></div>
                    <div class="icon-fix"></div>
                </div>
            </div>
            <h3 class="status" th:text="#{account.created.congrats}">Congratulations!</h3>
            <h3 class="status" th:text="#{account.created.message}">Your account has been successfully created.</h3>
        </div>
        <div class="lower-side">
            <p class="message" th:text="#{account.created.message.activationLink}">A link has been sent to your email to activate your account.</p>
            <p class="message" th:text="#{account.created.message.check}">Please check your email.</p>
            <div class="scaleHover">
                <a href="#" th:href="@{/login}" class="contBtn" th:text="#{account.created.button.continue}">Continue</a>
            </div>
            <div class="autoRedirect">
                <p id="redirectLogin" th:text="${gender} == 'FEMALE' ? #{account.activated.redirect.login(ă)} : #{account.activated.redirect.login('')}">Soon you will be automatically redirected to login page</p>
            </div>
            <div class="progress-wrapper">
                <progress id="progressBar" max="100" value="100" data-duration="15" th:data-duration="${redirectDuration}"></progress>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

<script th:src="@{/scripts/account-created-activated.js}" src="../static/scripts/account-created-activated.js"></script>

</body>
</html>
