<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: title(#{user.dashboard.title}, ~{::link})}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" th:href="@{/css/user-dashboard.css}" href="../static/css/user-dashboard.css">
</head>

<body>
<header th:replace="~{fragments/layout :: sidebar}"></header>
<section th:id="dashboard-section" id="dashboard-section">
  <div class="card-group">
    <a href="#" th:href="@{/user/dashboard/electricity}">
      <div class="card">
        <img th:src="@{/images/user-dashboard/electricity.png}" src="../static/images/user-dashboard/electricity.png" class="card-img-top" alt="" width="256" height="256">
        <div class="card-body">
          <h5 class="card-title" th:text="#{user.dashboard.electricity.card.title}">Electricity</h5>
          <p class="card-text" th:text="#{user.dashboard.card.p1(${electricityTotalClientCodes})}">Number of client codes: x</p>
          <p class="card-text" th:text="#{user.dashboard.card.p2}">Last index inserted: xxxxxx</p>
        </div>
        <div class="card-footer">
          <small class="text-muted no-select" th:text="${electricityLastModifiedDate} < 0 ? #{user.dashboard.card.footer.emptyData} : #{user.dashboard.card.footer(${electricityLastModifiedDate})}">Last updated 3 mins ago</small>
        </div>
      </div>
    </a>

    <a href="#" th:href="@{/user/dashboard/water}">
      <div class="card">
        <img th:src="@{/images/user-dashboard/water.png}" src="../static/images/user-dashboard/water.png" class="card-img-top" alt="" width="256" height="256">
        <div class="card-body">
          <h5 class="card-title" th:text="#{user.dashboard.water.card.title}">Water</h5>
          <p class="card-text" th:text="#{user.dashboard.card.p1(${waterTotalClientCodes})}">Number of client codes: 5</p>
          <p class="card-text" th:text="#{user.dashboard.card.p2}">Last index inserted: xxxxxx</p>
        </div>
        <div class="card-footer">
          <small class="text-muted no-select" th:text="${waterLastModifiedDate} < 0 ? #{user.dashboard.card.footer.emptyData} : #{user.dashboard.card.footer(${waterLastModifiedDate})}">Last updated 3 mins ago</small>
        </div>
      </div>
    </a>

    <a href="#" th:href="@{/user/dashboard/gas}">
      <div class="card">
        <img th:src="@{/images/user-dashboard/gaz.png}" src="../static/images/user-dashboard/gaz.png" class="card-img-top" alt="" width="256" height="256">
        <div class="card-body">
          <h5 class="card-title" th:text="#{user.dashboard.gas.card.title}">Gas</h5>
          <p class="card-text" th:text="#{user.dashboard.card.p1(${gasTotalClientCodes})}">Number of client codes: 5</p>
          <p class="card-text" th:text="#{user.dashboard.card.p2}">Last index inserted: xxxxxx</p>
        </div>
        <div class="card-footer">
          <small class="text-muted no-select" th:text="${gasLastModifiedDate} < 0 ? #{user.dashboard.card.footer.emptyData} : #{user.dashboard.card.footer(${gasLastModifiedDate})}">Last updated 3 mins ago</small>
        </div>
      </div>
    </a>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"></script>
</body>
</html>
